<ion-content [fullscreen]="true" class="contacts-content">
  <!-- Header -->
  <div class="header">
    <ion-button fill="clear" class="back-button" (click)="goBack()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>

    <h1>Emergency Contacts</h1>

    <!-- Keep add button space stable -->
    <ion-button
      fill="clear"
      class="add-button"
      [hidden]="activeTab !== 'contacts'"
      (click)="addContact()"
    >
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Tabs -->
  <div class="contacts-tabs">
    <div
      class="tab"
      [class.active]="activeTab === 'contacts'"
      (click)="switchTab('contacts')"
    >
      Your Contacts ({{ contacts.length }})
    </div>
    <div
      class="tab"
      [class.active]="activeTab === 'hotlines'"
      (click)="switchTab('hotlines')"
    >
      Official Hotlines ({{ adminHotlines.length }})
    </div>
  </div>

  <!-- Loading -->
  <div class="loading" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading data...</p>
  </div>

  <!-- -------------------- USER CONTACTS -------------------- -->
  <ng-container *ngIf="!loading && activeTab === 'contacts'">
    <div *ngIf="contacts.length; else noContacts">
      <div class="contacts-list">
        <div class="contact-item" *ngFor="let contact of contacts">
          <div class="contact-info" (click)="viewContact(contact)">
            <ion-icon
              name="person-circle-outline"
              class="contact-avatar"
            ></ion-icon>
            <span class="contact-name">{{ contact.name }}</span>
          </div>
          <ion-button
            fill="clear"
            class="call-button"
            (click)="confirmCall(contact.phone, contact.name)"
          >
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
    <ng-template #noContacts>
      <div class="no-contacts">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p>No emergency contacts added yet</p>
      </div>
    </ng-template>
  </ng-container>

  <!-- -------------------- ADMIN HOTLINES -------------------- -->
  <ng-container *ngIf="!loading && activeTab === 'hotlines'">
    <div *ngIf="adminHotlines.length; else noHotlines">
      <div class="contacts-list">
        <div class="contact-item" *ngFor="let hotline of adminHotlines">
          <div class="contact-info" (click)="viewHotline(hotline)">
            <ion-icon
              name="alert-circle-outline"
              class="contact-avatar hotline-icon"
            ></ion-icon>
            <span class="contact-name">{{ hotline.name }}</span>
          </div>
          <ion-button
            fill="clear"
            class="call-button"
            (click)="confirmCall(hotline.hotline, hotline.name)"
          >
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
    <ng-template #noHotlines>
      <div class="no-contacts">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p>No official hotlines found</p>
      </div>
    </ng-template>
  </ng-container>
</ion-content>
