<ion-header class="modal-header">
  <ion-toolbar>
    <ion-title>Add Contact</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" class="modal-content">

  <!-- Contact Name -->
  <ion-item>
    <ion-label position="stacked">Contact Name</ion-label>
    <ion-input
      [(ngModel)]="newContact.name"
      name="name"
      maxlength="20"
      (ionInput)="validateName()"
      maxlenght = "20"
    ></ion-input>
  </ion-item>
  <p class="error-message" *ngIf="errorMessages.name">{{ errorMessages.name }}</p>

  <!-- Phone Number (+63 prefix visual, user types the rest) -->
  <ion-item>
    <ion-label position="stacked">Phone Number</ion-label>
    <div class="phone-input">
      <span class="prefix">+63</span>
      <ion-input
        type="tel"
        [(ngModel)]="phoneDigits"
        name="phoneDigits"
        maxlength="10"
        inputmode="numeric"
        placeholder="9XXXXXXXXX"
        (ionInput)="onPhoneInput($event)"
        (keypress)="allowNumbersOnly($event)"
      ></ion-input>
    </div>
  </ion-item>
  <p class="error-message" *ngIf="errorMessages.phone">{{ errorMessages.phone }}</p>

  <!-- Relationship -->
  <ion-item>
    <ion-label position="stacked">Relationship</ion-label>
    <ion-select
      [(ngModel)]="newContact.relationship"
      name="relationship"
      interface="popover"
      placeholder="Select Relationship"
      (ionChange)="validateRelationship()"
    >
      <ion-select-option *ngFor="let rel of relationshipOptions" [value]="rel">
        {{ rel }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <p class="error-message" *ngIf="errorMessages.relationship">{{ errorMessages.relationship }}</p>

  <!-- Buttons -->
  <div class="modal-buttons">
    <ion-button class="save-btn" (click)="saveContact()">Save</ion-button>
    <ion-button class="cancel-btn" (click)="goBack()">Cancel</ion-button>
  </div>

</ion-content>
