<ion-footer class="bottom-nav">
  <ion-toolbar>
    <div class="nav-container">
      <ion-button fill="clear" routerLink="/sos" routerDirection="root" class="nav-btn">
        <ion-icon name="warning"></ion-icon>
        <ion-label>SOS</ion-label>
      </ion-button>

      <ion-button fill="clear" routerLink="/map" routerDirection="root" class="nav-btn">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-button>

      <ion-button fill="clear" routerLink="/report" routerDirection="root" class="nav-btn">
        <ion-icon name="document-text"></ion-icon>
        <ion-label>Report</ion-label>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
