.forgot-content {
  --background: #1B3333;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Made Tommy', sans-serif;
  text-align: center;
  padding: 2rem;

  * {
    font-family: 'Made Tommy', sans-serif;
  }

  ion-icon {
    color: currentColor;
  }

  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #E6DDCC;

    ion-button {
      color: inherit;
      font-weight: 400;
      font-size: 1.2rem;
    }

    ion-icon {
      font-size: 1.2rem;
      margin-right: 4px;
      opacity: 0.75;
    }
  }

  .title-message {
    margin-top: 200px;
    margin-bottom: 25px;

    h1 {
      color: #E6DDCC;
      font-weight: 500;
      font-size: 1.75rem;
      margin-bottom: 10px;
    }

    p {
      color: #E6DDCC;
      font-size: 1rem;
      font-weight: lighter;
      opacity: 0.9;
    }
  }

  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    .input-box {
      background: rgba(235, 240, 233, 0.2);
      border-radius: 15px;
      width: 300px;
      height: 55px;
      display: flex;
      align-items: center;
      padding: 0 12px;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.30);
      color: #E6DDCC;

      ion-icon {
        font-size: 1.8rem;
        margin-right: 15px;
        flex-shrink: 0;
        opacity: 0.75;
      }

      ion-input {
        --background: transparent;
        --color: #E6DDCC;
        --placeholder-color: #E6DDCC;
        --placeholder-opacity: 1;
        --highlight-color-focused: #E1A96C;
        font-size: 1.125rem;
        font-weight: 400;
        width: 100%;
        height: 100%;
        text-align: left;
      }

      ion-input::part(native) {
        font-weight: 400;
      }
    }
  }

  .button-container {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 25px;
  }

  .login-prompt {
    margin-top: 20px;
    color: #E6DDCC;
    font-weight: 400;
    font-size: 0.938rem;

    a {
      color: #E1A96C !important;
      font-weight: 500;
      font-size: 0.938rem;
      text-decoration: none;
    }
  }

  .error-message {
    font-family: 'Made Tommy', sans-serif;
    margin-top: -15px !important;
    text-align: left !important;
    color: #E1A96C;
    font-size: 1.2rem;
    width: 300px;
  }
}
