<ion-content [fullscreen]="true" class="forgot-content">

  <!-- Back Button -->
  <div class="back-button">
    <ion-button class="back-text-btn" [routerLink]="['/login']" fill="clear">
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      Back
    </ion-button>
  </div>

  <!-- Title -->
  <div class="title-message">
    <h1>Forgot Password</h1>
    <p>Enter your registered email to <br>reset your password.</p>
  </div>

  <!-- Forgot Password Form -->
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="input-container">

    <!-- Email Input -->
    <div class="input-box">
      <ion-icon class="input-icon" name="mail"></ion-icon>
      <ion-input
        placeholder="Email"
        type="email"
        formControlName="email">
      </ion-input>
    </div>
    <div class="error-message" *ngIf="email?.touched && email?.invalid">
      <small *ngIf="email?.errors?.['required']">Email is required.</small>
      <small *ngIf="email?.errors?.['email']">Enter a valid email.</small>
    </div>

    <!-- Submit Button -->
    <div class="button-container">
      <ion-button expand="block" class="primary-btn" type="submit" [disabled]="isSubmitting">
        {{ isSubmitting ? 'Sending...' : 'Send Reset Link' }}
      </ion-button>
    </div>

  </form>

  <!-- Back to login -->
  <div class="login-prompt">
    <p>Remembered your password? <a [routerLink]="['/login']">Log In</a></p>
  </div>

</ion-content>
